.DS_Store
ресурспак для евенту ДЦЦ/.DS_Store
ресурспак для евенту ДЦЦ/assets/.DS_Store
ресурспак для евенту ДЦЦ/assets/minecraft/.DS_Store
ресурспак для евенту ДЦЦ/assets/minecraft/models/.DS_Store
ресурспак для евенту ДЦЦ/assets/minecraft/models/item/.DS_Store
ресурспак для евенту ДЦЦ/assets/minecraft/textures/.DS_Store
ресурспак для евенту ДЦЦ/assets/minecraft/textures/block/.DS_Store
ресурспак для евенту ДЦЦ/assets/minecraft/textures/entity/.DS_Store
ресурспак для евенту ДЦЦ/assets/minecraft/textures/entity/slime/.DS_Store
ресурспак для евенту ДЦЦ/assets/minecraft/textures/item/.DS_Store
ресурспак для евенту ДЦЦ/assets/minecraft/textures/misc/.DS_Store