.DS_store
ресурспак для евенту ДЦЦ/.DS_Store
ресурспак для евенту ДЦЦ/assets/.DS_store
ресурспак для евенту ДЦЦ/assets/minecraft/.DS_store
ресурспак для евенту ДЦЦ/assets/minecraft/models/.DS_store
ресурспак для евенту ДЦЦ/assets/minecraft/models/item/.DS_store
ресурспак для евенту ДЦЦ/assets/minecraft/textures/.DS_store
ресурспак для евенту ДЦЦ/assets/minecraft/textures/block/.DS_store
ресурспак для евенту ДЦЦ/assets/minecraft/textures/entity/.DS_store
ресурспак для евенту ДЦЦ/assets/minecraft/textures/entity/slime/.DS_store
ресурспак для евенту ДЦЦ/assets/minecraft/textures/item/.DS_store
ресурспак для евенту ДЦЦ/assets/minecraft/textures/misc/.DS_store